.popup__input {
  margin: 0 0 30px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  min-height: 27px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  max-width: 358px;
  box-sizing: border-box;
}

.popup__input:last-of-type {
  margin: 0 0 52px;
}

@media all and (max-width: 520px) {
  .popup__input {
    max-width: 238px;
  }

  .popup__input:last-of-type {
    margin: 0 0 49px;
  }
}