.popup__cross_picture {
  position: absolute;
  top: -40px;
  right: -40px;
  bottom: unset;
  left: unset;
}

@media all and (max-width: 520px) {
  .popup__cross_picture {
    top: -36px;
    right: 0;
    bottom: 0;
    left: 0;
  }
}