.profile__text_type_name {
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  align-self: start;
}

@media all and (max-width: 768px) {
  .profile__text_type_name {
    text-align: center;
    margin: 0 0 0 36px;
  }
}

@media all and (max-width: 425px) {
  .profile__text_type_name {
    font-weight: 500;
    font-size: 27px;
    line-height: 1.22;
  }
}