.profile__text_type_activity {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  align-self: end;
  grid-column: span 2;
}

@media all and (max-width: 768px) {
  .profile__text_type_activity {
    text-align: center;
    margin: 8px 0 0;
  }
}

@media all and (max-width: 425px) {
  .profile__text_type_activity {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
  }
}