.popup__title {
  margin: 34px 0 45px;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.21;
}

@media all and (max-width: 520px) {
  .popup__title {
    font-weight: 900;
    font-size: 18px;
    line-height: 1.22;
    margin: 25px 0 71px;
  }
}