.popup__cross {
  background-image: url(../../../images/popup__cross.svg);
  min-width: 32px;
  min-height: 32px;
  background-repeat: no-repeat;
  background-size: 32px 32px;
  z-index: 1;
  cursor: pointer;
  position: relative;
  bottom: 8px;
  left: 239px;
}

.popup__cross:hover {
  opacity: 0.6;
}

@media all and (max-width: 520px) {
  .popup__cross {
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    bottom: 16px;
    left: 139px;
  }
}