.picture-popup__cross {
  background-image: url(../../../images/popup__cross.svg);
  min-width: 32px;
  min-height: 32px;
  background-repeat: no-repeat;
  background-size: 32px 32px;
  z-index: 1;
  position: absolute;
  top: -40px;
  right: -40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: .2s linear;
}

.picture-popup__cross:hover {
  opacity: 0.6;
}

@media all and (max-width: 520px) {
  .picture-popup__cross {
    min-width: 20px;
    min-height: 20px;
    background-size: 20px 20px;
    top: -36px;
    right: 0;
  }
}